extends layout

block content

  include side_nav
  style.
    hr {
      border: 1px solid #cfd8dc;
      border-radius: 5px;
    }
  main(ng-controller='editController')
    .row
      .col.m9.s8
        b #{ontology.name}
      .col.m3.s4.align-right(style='margin-top:-1%')
        a.waves-effect.waves-light.btn(href='/ontology/download/'+ontology._id) Descargar OWL
          i.material-icons.right cloud_download

    .row
      .col.m11.s11
        hr
    .row
      .col.m12.s12
        b Clases
    .row
      .col.m4.s12(ng-repeat='c in classes').animated.fadeIn
        .card.blue-grey.lighten-4(id='{{c.name}}')
          .card-content.grey-text
            .row
              .col.m12.s12.input-field
                input#class_name.grey-text(value='{{c.name}}', type='text', ng-model='c.name', ng-blur='edit_class(c.index)')
                label Nombre de Clase

            .row(style='margin-top:-6%')
              .col.m8.s8
                b Instancias
              .col.m2.s2(style='margin-top:-2%')
                  a.btn-floating.btn.waves-effect.waves-light.lighten-3(ng-click='push_inst(c.index)')
                      i.material-icons add
              .col.m2.s2(style='margin-top:-2%')
                  a.btn-floating.btn.waves-effect.waves-light.red.lighten-3(ng-click='pop_inst(c.index)')
                    i.material-icons remove
            .row(ng-repeat='inst in c.instances')
              .col.m12.input-field
                input#class_name.grey-text(value='{{inst.name}}', type='text', ng-model='inst.name', ng-blur='edit_inst(c.index , inst._id)')
                label Nombre

    .row
      .col.m11.s11
        hr
    .row
      .col.m12.s12
        b Relaciones
    .row
      .col.m4.s12(ng-repeat='r in relations').animated.fadeIn
        .card.blue-grey.lighten-4
          .card-content.grey-text
            .row
              .col.m8.s8
                b Relaciones
            .row
              .col.m12.input-field
                input.grey-text(type='text', value='{{r.subject.name}}', disabled)
                label Sujeto
              
              .col.m12.input-field
                input.grey-text(type='text', value='{{r.verb}}', disabled)
                label Verbo/Prop/Relación

              .col.m12.input-field
                input.grey-text(type='text', value='{{r.complement.name}}', disabled)
                label Predicado


      
    
    .fixed-action-btn
      a.btn-floating.btn-large.red(class="tooltipped" data-position="top" data-tooltip="Crear")
        i.large.material-icons add
      
      ul
        li
          a.btn-floating.black.modal-trigger(class="tooltipped" data-position="top" data-tooltip="Relación", href='#newRelation')
            i.material-icons domain
        li
          a.btn-floating.teal(class="tooltipped" data-position="top" data-tooltip="Clase", ng-click='add_class()')
            i.material-icons person_add

        li
          a.btn-floating.orange.modal-trigger(class="tooltipped" data-position="top" data-tooltip="Ontología", href='#newModal')
            i.material-icons domain


    // Modal Structure
    #newModal.modal.modal-fixed-footer
      .modal-content
        h4 Nueva Ontología
        .row(style='margin-top:4%')
          .input-field.col.s12.m12
            input.validate#ontology_name(type='text')
            label(for='ontology_name') Nombre de la Ontología
      .modal-footer
        a.modal-close.waves-effect.waves-green.btn-flat#create_btn(href='#!') Crear Ontología

    // Modal Structure
    #newRelation.modal.modal-fixed-footer
      .modal-content
        h4 Nueva Relación
        .row
            .col.m4.input-field
              select.grey-text.browser-default(ng-model='subject')
                option( value='na', selected) Selecciona Sujeto
                option( ng-repeat='inst in global_instances', value='{{inst._id}}') {{inst.name}}
            
            .col.m4.input-field
              input.grey-text#verb(type='text', ng-model='verb')
              label(for='verb') Verbo/Prop/Relación

            .col.m4.input-field
              select.grey-text.browser-default( ng-model='complement')
                option( value='na', selected, disabled) Selecciona Predicado
                option( ng-repeat='inst in global_instances', value='{{inst._id}}') {{inst.name}}
      .modal-footer
        a.modal-close.waves-effect.waves-green.btn-flat#create_btn(ng-click='add_relation()') Crear Relación


  script.
    
    var current_ontology = !{JSON.stringify(ontology)};
    var relations = !{JSON.stringify(relations)};

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {
        hoverEnabled: false
      });
    });

    $(document).ready(function(){
      $('.modal').modal();
      $('.tooltipped').tooltip();
      $('select').formSelect();

      $('#create_btn').click(function(){
        if ($('#ontology_name').val() !== ''){
          var query = { name: $('#ontology_name').val() };
          $.post("/ontology/create", query )
            .done(function(msg){ 
                //console.log(msg);
                window.location = '/ontology/edit/'+msg._id;
            })
            .fail(function(xhr, status, error) {
                console.log(xhr);
                console.log(status);
                console.log(error);
                M.toast({html: 'Datos Incorrectos'})
            });
        }
        else{
          M.toast({html: 'Completa los Campos'});
        }
      })

      $('input').on('keypress', function(e) {
          if (e.which == 32)
              return false;
      });

    });

